2016 Main Robot Code/bin/*
2016 Main Robot Code/build/*
2016 Main Robot Code/libs/commons-io-2.4-bin/*
2016 Main Robot Code/libs/commons-lang3-3.4-bin/*
2016 Main Robot Code/libs/commons-math3-3.6-bin/*
!2016 Main Robot Code/build/jars/*

